.card {
  padding: 20px;
  object-fit: contain;
  margin: 3px;
}
.card > .dots {
  width: 10px;
  height: 10px;
  color: #878787;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0.4px 0.4px 20px rgb(216, 216, 216);
  transform: scale(1.02);
  transition: 0.4s;
}
.card > .card__image:hover {
  transform: scale(1.07);

  transition: 0.5s;
  transition-delay: 0.5s;
}
.card > .card__image > img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.card__heart {
  float: right;
  color: lightgray;
}

.card__details {
  background-color: white;
}
.card__details > .title {
  font-size: 17px;
  font-weight: 600;
  padding-right: 5px;
  color: black;
}
/* TODO: do the rating styling */
.card__details > .ratings {
  background-color: #26a541;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  padding-left: 4px;
  border-radius: 14px;
  color: white;
}
.card__details > .ratings > .MuiSvgIcon-root {
  font-size: 12px;
  padding-right: 4px;
  align-items: center;
  cursor: pointer;
}
.card__details > p {
  font-size: 14px;
  color: #878787;
  padding: 0;
  margin: 0;
}
.card__details > .span1 {
  font-weight: bold;
}
.card__details > .span2 {
  color: gray;
  padding-left: 7px;
  text-decoration: line-through;
}
.card__details > .span3 {
  font-weight: 500;
  font-size: 15px;
  padding-left: 7px;
  color: #388e3c;
}

.productDet {
  position: relative;
  transition: 0.5s;
}
.productDet > .card__size {
  position: absolute;
  opacity: 0;
}
.card:hover .productDet {
  transition: 0.5s;
  transform: translateY(-40%);
}
.card:hover .productDet > .card__size {
  opacity: 1;
}
