.logint__in,
.moret__in {
  display: flex;
  align-items: center;
  padding: 0px 7px;
  width: 200px;
}
.logint__in > .MuiSvgIcon-root,
.moret__in > .MuiSvgIcon-root,
img {
  margin-right: 5px;
  color: #2874f0;
}
.logint > hr,
.moret > hr {
  margin-left: -10px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 108.5%;
  height: 0.5px;
  background-color: rgb(233, 233, 233);
  border: none;
}
.logint__in:hover,
.moret__in:hover {
  background-color: rgb(245, 243, 243);
  cursor: pointer;
}
